body {
    display: flex;
    flex-direction: row;
    background: darkblue;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container-fluid {
    position: relative;
    background: grey;
    flex: 1;
    padding-top: 25px;
    height: 100%;
}

.row {
    flex: 1;
    flex-direction: row;
}

.column {
    flex: 1;
    flex-direction: column;
    align-items: center;

}

button {
    size: 3em;
}

button:hover {
    background: cyan;
}

.buttonPreferred {
    background: green;
    height: 3em;
    width: 7em;
}

.buttonCannot {
    background: red;
    height: 3em;
    width: 7em;
}


.dayheader {
    background: red;
    height: 5em;
    text-align: center;
}

table {
    border-top: 5px;
    border-top-color: orangered;
}

.switchButton {
    flex: 1;
    flex-basis: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.dayheader {
    flex: 1;
    flex-direction: row;
}