body {
    display: flex;
    background: darkblue;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    background: grey;
    flex: 1;
}

.largecontainer {
    background: greenyellow;
}

.row {
    flex: 1;
    flex-direction: row;
}

.column {
    flex: 1;
    flex-direction: column;
    align-items: center;

}

.buttonPreferred {
    position: absolute;
    top: 25%;
    left: 4%;
}

.buttonCannot {
    position: absolute;
    top: 35%;
    left: 4%;
}

th, td {
    border: 10px, dotted, black;
}